<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Dodaj zwierze </h1>
<form action="/addPet" method="post">
<div> gatunek <input type="text" name="species"></div>
<div> rasa <input type="text" name="race"> </div>
<div> imie <input type="text" name="name"> </div>
<div> wiek <input type="number" name="age"> </div>
<div> płeć <input type="text" name="sex"> </div>
<div> adres <input type="text" name="address"> </div>
<div> opis <input type="text" name="description"> </div>
<button type="submit"> Zatwierdź </button>
</form>
</body>
</html>